# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

; JS
[*.{js,es6,ts,tsx}]
quote_type = single

; Markdown
[*.md]
trim_trailing_whitespace = false

; Shell
[*.sh]
indent_style = tab

; Golang
[*.go]
indent_style = tab
indent_size = 4

; Python
[*.py]
indent_style = space
indent_size = 4
