.idea/
.vscode/
node_modules/
.history/
build/
tmp/
temp/
declaration/
dist/
uploads/
coverage/
yarn-error.log
database.db

.yarn/*
#!.yarn/cache
.pnp.*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/patches
.clinic/
/documentation
